body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1.1em;
}

.uk-logo {
    font-family: 'Oswald';
    font-size: 1.8em;
    padding-left: 30px;
}


span {
    pointer-events: none;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #ebebeb;
}
 
.uk-navbar-nav>li>a {
    color: #727272;
}
